<div class="vcard">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> CRUD on REACT </mat-card-title>
      <mat-card-subtitle> React - Firebase </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/reactapp.jpg" alt="react" />
    <mat-card-actions>
      <button mat-button routerLink="/reactp">Ver</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image1" alt="angular"></div>
      <mat-card-title>PokeCards Angular</mat-card-title>
      <mat-card-subtitle> Angular - Material - APIrest </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/angularpoke.jpg"
      alt="react" />
    <mat-card-actions>
      <button mat-button routerLink="/cards">Ver</button>
    </mat-card-actions>
  </mat-card>
</div>
