<div class="neworder">
  <div class="containerr">
    <h2 class="container-heading">Sobre mi</h2>
    <br />

    <div class="my-text">
      Soy un programador full stack graduado de la UTN, con experiencia en
      desarrollo backend usando Node.js y bases de datos como MySQL, MongoDB y
      PostgreSQL. En el desarrollo web, utilizo HTML5, CSS3, JavaScript y
      frameworks como React.js y Angular. Mi combinación de habilidades técnicas
      en el backend y frontend me permite ofrecer soluciones integrales y
      comprender las necesidades de los proyectos. Estoy comprometido con el
      crecimiento continuo en mi carrera y en el desarrollo de habilidades
      técnicas para brindar el mejor aporte posible.También tengo formación en
      Recursos Humanos, lo que me permite trabajar efectivamente en grupos y
      equipos. ¡Gracias por visitar mi portfolio y estoy emocionado por la
      oportunidad de trabajar juntos!
    </div>
  </div>
  <div class="containerr">
    <h2 class="container-heading">Habilidades</h2>
    <br />
    <div class="my-list">
      <ul>
        <li class="my-item">
          Lenguajes de programación:
          <span class="my-highlight">JavaScript (ES6+)</span>
        </li>
        <li class="my-item">
          Desarrollo web: <span class="my-highlight">HTML5</span>,
          <span class="my-highlight">CSS3</span>,
          <span class="my-highlight">Sass/SCSS</span>
        </li>
        <li class="my-item">
          Frameworks frontend: <span class="my-highlight">React.js</span>,
          <span class="my-highlight">Angular</span>
        </li>
        <li class="my-item">
          Frameworks backend: <span class="my-highlight">Node.js</span>,
          <span class="my-highlight">Express.js</span>
        </li>
        <li class="my-item">
          Bases de datos: <span class="my-highlight">MySQL</span>,
          <span class="my-highlight">MongoDB</span>,
          <span class="my-highlight">PostgreSQL</span>
        </li>
        <li class="my-item">
          Control de versiones: <span class="my-highlight">Git</span>,
          <span class="my-highlight">GitHub</span>
        </li>
        <li class="my-item">
          Entorno de desarrollo:
          <span class="my-highlight">Visual Studio Code</span>
        </li>
        <li class="my-item">
          Gestor de paquetes: <span class="my-highlight">npm</span>
        </li>
        <li class="my-item">
          Estilos y UI: <span class="my-highlight">Bootstrap</span>,
          <span class="my-highlight">Material-UI</span>
        </li>
        <li class="my-item">
          Pruebas y calidad del código:
          <span class="my-highlight">Jest</span>,
          <span class="my-highlight">Enzyme</span>,
          <span class="my-highlight">ESLint</span>
        </li>
        <li class="my-item">
          Metodologías ágiles: <span class="my-highlight">Scrum</span>
        </li>
        <li class="my-item">Diseño y desarrollo responsivo</li>
        <li class="my-item">API RESTful y arquitectura de microservicios</li>
        <li class="my-item">
          Autenticación y autorización:
          <span class="my-highlight">JWT (JSON Web Tokens)</span>
        </li>
        <li class="my-item">Conocimientos básicos de Docker y contenedores</li>
      </ul>
    </div>
  </div>
  <div class="containerr">
    <h2 class="container-heading">Certificación tecnica UTN</h2>
    <br />

    <div class="my-list">
      <ul class="plist">
        <li class="link">
          <a class="my-cert" href="../../../assets/pdf/curs005.pdf"
            >Professional full stack developer</a
          >
        </li>
        <li class="link">
          <a class="my-cert" href="../../../assets/pdf/curs004.pdf">Node</a>
        </li>
        <li class="link">
          <a class="my-cert" href="../../../assets/pdf/curs003.pdf">Angular</a>
        </li>
        <li class="link">
          <a class="my-cert" href="../../../assets/pdf/curs002.pdf">React</a>
        </li>
        <li class="link">
          <a class="my-cert" href="../../../assets/pdf/curs001.pdf"
            >HTML,CSS,Js</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
