.center {
margin-top: 100px;
display: flex;
justify-content: center;
padding-bottom: 10vh;
}

.row{
    justify-content: center;
}

.vcard{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
   
}


@media screen and (max-height: 790px){

    .center {
      
        padding-bottom: 45vh;
        
}
}