<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="position-name">
      <h2
        [ngClass]="{
          'example-app-name': title.includes('portfolio'),
          'example-app-name1': title.includes('Login Section'),
          'example-app-name2': title.includes('Sign up Section'),
          'example-app-name3': title.includes('Cards Section'),
          'example-app-name4': title.includes('Proyects Section')
        }">
        {{ title }}
      </h2>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-button-toggle-group class="btn-group">
          <mat-button-toggle
            *ngIf="isLoad"
            (click)="handleClickLogin($event)"
            routerLink="/login"
            class="toogle-button">
            <mat-icon>login</mat-icon>
            Login
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="isNotLoad"
            (click)="handleClickAbMe($event)"
            routerLink="/"
            class="toogle-button">
            <mat-icon>face</mat-icon>
            About Me
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="isNotLoad"
            (click)="handleClickSignUp($event)"
            routerLink="/signup"
            class="toogle-button">
            <mat-icon>how_to_reg</mat-icon>
            Sign up
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="isNotLoad"
            (click)="handleClickProyects($event)"
            routerLink="/proyects"
            class="toogle-button">
            <mat-icon>filter_none</mat-icon>
            Proyects
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="isLoad"
            (click)="handleClickLogin($event)"
            routerLink="/login"
            class="toogle-button">
            <mat-icon>face</mat-icon>
            Profile
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="isLoad"
            (click)="handleClickLogin($event)"
            routerLink="/login"
            class="toogle-button">
            <mat-icon>shopping_cart</mat-icon>
            My cart
          </mat-button-toggle>
          <mat-button-toggle
            *ngIf="isLoad"
            (click)="logout()"
            routerLink="/"
            class="toogle-button">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngIf="pview">
        <app-mainpone></app-mainpone>
        <app-mainptwo></app-mainptwo>
      </div>
      <router-outlet></router-outlet>
      <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998; border-color: inherit"
              href="#!"
              role="button"
              ><fa-icon
                [icon]="faFacebook"
                style="display: flex; justify-content: center"
                class="fa-solid fa-xl"></fa-icon
            ></a>

            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee; border-color: inherit"
              href="#!"
              role="button"
              ><fa-icon
                [icon]="faTwitter"
                style="display: flex; justify-content: center"
                class="fa-solid fa-xl"></fa-icon
            ></a>

            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39; border-color: inherit"
              href="#!"
              role="button"
              ><fa-icon
                [icon]="faGoogle"
                style="display: flex; justify-content: center"
                class="fa-solid fa-xl"></fa-icon
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac; border-color: inherit"
              href="#!"
              role="button"
              ><fa-icon
                [icon]="faInstagram"
                style="display: flex; justify-content: center"
                class="fa-solid fa-xl"></fa-icon
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca; border-color: inherit"
              href="https://ar.linkedin.com/in/mariano-mocho-9937a9154"
              role="button"
              ><fa-icon
                [icon]="faLinkedIn"
                style="display: flex; justify-content: center"
                class="fa-solid fa-xl"></fa-icon
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333; border-color: inherit"
              href="https://github.com/jeremymarian"
              role="button"
              ><fa-icon
                [icon]="faGithub"
                style="display: flex; justify-content: center"
                class="fa-solid fa-xl"></fa-icon
            ></a>
          </section>
        </div>

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(13, 5, 5, 0.92)">
          © 2023 Copyright:
          <a class="text-white" href="#">Mariano Jeremias Mocho</a>
        </div>
        <!-- Copyright -->
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
